__pycache__/
*.DS_Store
.ipynb_checkpoints/
data/raw/
data/processed/
data/interim/
data/external/
models/*.pt
venv/
mlruns/
mlartifacts/
models/*.pth
*.m4a

# Personal / Docs
docs/walkthrough.md
notebooks/04_comprehensive_learning_guide.ipynb
